In [1]:
# We will use data from the NYC TLC Trip Record Data website.

# Specifically, we will use the Yellow taxi trip records CSV file for January 2021.

# This data used to be csv, but later they switched to parquet. We want to keep using CSV 
# because we need to do a bit of extra pre-processing (for the purposes of learning it).

import pandas as pd

# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
df = pd.read_csv(prefix + '/yellow_tripdata_2021-01.csv.gz', nrows=100)

(100, 18)

In [2]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [3]:

# Check data types
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [4]:
# Check data shape
df.shape

(100, 18)

In [5]:
# Ingesting Data into Postgres
# In the Jupyter notebook, we create code to:

# Download the CSV file
# Read it in chunks with pandas
# Convert datetime columns
# Insert data into PostgreSQL using SQLAlchemy

# First, install SQLAlchemy in vs code terminal:

# uv add sqlalchemy psycopg2-binary

# Then create engine
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
# Get DDL schema for the database:

# if postgres container stopped already, re-run it as
# docker run -it \
  # -e POSTGRES_USER="root" \
  # -e POSTGRES_PASSWORD="root" \
  # -e POSTGRES_DB="ny_taxi" \
  # -v $(pwd)/ny_taxi_postgres_data:/var/lib/postgresql \
  # -p 5432:5432 \
  # postgres:18

# And then connect to postgres to check if database is still there:
# uv run pgcli -h localhost -p 5432 -u root -d ny_taxi
# When prompted, enter the password: root

# SQL commands:

# -- List tables
# \dt

# -- Query data
# SELECT * FROM test;

# -- Exit
# \q

print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
# Create the table:

df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
# head(n=0) makes sure we only create the table, we don't add any data yet.

0

In [10]:
# We don't want to insert all the data at once. Let's do it in batches and use an iterator for that:

df_iter = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    iterator=True,
    chunksize=100000
)

In [11]:
# Iterate over it:

for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

/tmp/ipykernel_6642/1561735894.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chunk in df_iter:

In [12]:
# we got warning :
# /tmp/ipykernel_6642/1561735894.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
#   for df_chunk in df_iter:
# so we will set up data types explicitly as

dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df_iter = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [13]:
# and repeat our iteration - now without warnings:

for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

In [15]:
# now upload chunks to database:
# Add tqdm to see progress:
# uv add tqdm

from tqdm.auto import tqdm

first = True

for df_chunk in tqdm(df_iter):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]